body {
    background-color: #F0F0F0 ;
    font-family: 'Sanchez', serif;
    color: #303030;
}

#wrap {
	
}

#header a {
	text-decoration: none;
	color: #303030;
}

#header {
	margin: 0 auto;
	width:620px;
	}

#main {
	margin: 0 auto;
	width:620px;
	}

#nav {}

#events {
	float:right;
	width:460px;
	padding: 10px;
	list-style-type: none;
    margin: 0 0 0 -40px;
    padding: 0;

}


h1 {font-family: 'Arvo', serif;
	font-size: 80px;
margin: 0;
    padding: 0;
}

h2 {font-family: 'Arvo', serif;
	font-size: 25px;
	margin: 0;
    padding: 0;
	}

h3 {font-family: 'Arvo', serif;
	font-size: 15px;
	margin: 0;

	}

h4 {font-family: 'Sanchez', serif;
	font-style: italic;
	font-size: 12px;
	margin: 0;
	}


#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#nav li {
    display: inline;

}

#nav li a {
	font-family: 'Arvo', serif;
	font-size: 25px;
    color: #303030;
    text-decoration: none;
    margin-right: 20px;
  
}



#events p {
	font-size: 10px;
}

#events li {
	padding: 10px 0 0 0;
}


