body {
    background-color: #F0F0F0 ;
    font-family: 'Sanchez', serif;
    color: #303030;
}

#wrap {
	width:1000px;
}

#main {
	width:63%;
	float:left;
}

#calendar {
	width:37%;
	float:right;
}

h1 {font-family: 'Arvo', serif;
	font-size: 80px}

h4 {font-family: 'Arvo', serif;
	font-size: 20px
	}