body {
    background-color: #F0F0F0 ;
    font-family: 'Sanchez', serif;
    color: #303030;
}


h1 {font-family: 'Arvo', serif;
	font-size: 80px;
margin: 0;
    padding: 0;}

h2 {font-family: 'Arvo', serif;
	font-size: 25px
	}

h3 {font-family: 'Arvo', serif;
	font-size: 15px
	}

h4 {font-family: 'Sanchez', serif;
	font-style: italic;
	font-size: 12px;
	}


#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#nav li {
    display: inline;

}

#nav li a {
	font-family: 'Arvo', serif;
	font-size: 25px;
    color: #303030;
    text-decoration: none;
    margin-right: 20px;
  
}

#events {
    list-style-type: none;
    margin: 0 0 0 -40x;
    padding: 0;

}

#events p {
	font-size: 10px;
}



#wrap {
	width:1000px;
}

#main {
	width:63%;
	float:left;
}

#events {
	width:37%;
	float:right;
}